.app-layout {
  height: 100vh;
}

.menu-sidebar {
  position: relative;
  z-index: 10;
  min-height: 100vh;
  box-shadow: 1px 0 6px rgba(119, 178, 232, 0.35);
  transition: all 0.3s;
}

.sidebar-logo {
  position: relative;
  height: 64px;
  padding-left: 24px;
  overflow: hidden;
  line-height: 64px;
  background: #fff;
  transition: all 0.3s;

  img {
    display: inline-block;
    height: 32px;
    width: 32px;
    vertical-align: middle;
  }

  h1 {
    display: inline-block;
    margin: 0 0 0 20px;
    color: #1890ff;
    font-weight: 600;
    font-size: 14px;
    font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
    vertical-align: middle;
  }
}

.app-header {
  position: relative;
  height: 64px;
  padding: 0;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
}

.header-trigger {
  height: 64px;
  padding: 20px 24px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s, padding 0s;
}

.trigger:hover {
  color: #1890ff;
}

.inner-content {
  padding: 24px;
  background: #fff;
  height: 100%;
  overflow: auto;
}

// Cải thiện kiểu dáng cho menu items
:host ::ng-deep {
  .ant-menu-item {
    margin: 0;
    
    &:hover {
      background-color: rgba(255, 255, 255, 0.08);
    }

    &:focus {
      color: #fff;
    }
  }

  .ant-menu-submenu-title {
    &:hover {
      background-color: rgba(255, 255, 255, 0.08);
    }
  }

  .ant-menu-item-selected {
    background-color: #1890ff !important;
    color: #fff !important;
  }
}

.ant-layout-header {
    height: 64px;
    padding: 0px;
    color: rgba(0, 0, 0, 0.85);
    line-height: 64px;
    background: #ffffff;
}